{% load static %}
<!DOCTYPE HTML>
<html lang="en">
<head>


	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-163919470-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-163919470-1');
	</script>

	<title>RCA Online</title>

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">
	
    <link href="https://www.rca.online" rel="canonical">
	
	<!-- Stylesheets -->
	

	<link rel="icon" type="image/x-icon" href="{% static 'rca/flash.svg' %}" />	
	
	<link rel="stylesheet" href="{% static 'rca/common-css/jquery.classycountdown.css' %}" />
		
	<link href="{% static 'rca/01-comming-soon/css/styles.css' %}" rel="stylesheet">


    <!--Start of Tawk.to Script-->
	<script type="text/javascript">
	var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
	(function(){
	var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
	s1.async=true;
	s1.src='https://embed.tawk.to/5eadf0e5203e206707f8fd84/default';
	s1.charset='UTF-8';
	s1.setAttribute('crossorigin','*');
	s0.parentNode.insertBefore(s1,s0);
	})();
	</script>
	<!--End of Tawk.to Script-->


</head>
<body>
	
	<div class="main-area">

		<div class="container full-height position-static">
		
			<section class="left-section full-height">
		
				
				<div class="display-table">
					<div class="display-table-cell">
						<div class="main-content" style="text-align: center">
							<h1 class="title">
								<span style='font-weight: bolder'> ÎN </span>
								<span style='font-weight: lighter'> CURÂND </span>

							</h1>
							<h4> RCA Online: Compară, alege si cumpără simplu. </h4> 
						
						</div><!-- main-content -->
					</div><!-- display-table-cell -->
				</div><!-- display-table -->
		
			</section><!-- left-section -->
		
			<section class="right-section" style="background-image: url({ static 'rca/images/countdown-1-1000x1000.jpg' %})">
			
				<div class="display-table center-text">
					<div class="display-table-cell">
						
						
						<div id="rounded-countdown">
							<div class="countdown" data-remaining-sec="2200000"></div>
						</div>
						
					</div><!-- display-table-cell -->
				</div><!-- display-table -->
				
			</section><!-- right-section -->
		
		</div><!-- container -->
	</div><!-- main-area -->
	
	<!-- SCIPTS -->
	
	<script src="{% static 'rca/common-js/jquery-3.1.1.min.js' %}"></script>
	
	<script src="{% static 'rca/common-js/tether.min.js' %}"></script>
	
	<script src="{% static 'rca/common-js/bootstrap.js' %}"></script>
	
	<script src="{% static 'rca/common-js/jquery.classycountdown.js' %}"></script>
	
	<script src="{% static 'rca/common-js/jquery.knob.js' %}"></script>
	
	<script src="{% static 'rca/common-js/jquery.throttle.js' %}"></script>
	
	<script src="{% static 'rca/common-js/scripts.js' %}"></script>
	
</body>
</html>